<div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-center">
        <h2 class="mt-5">
          本当に退会しますか？
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex align-items-center justify-content-center mt-2">
        <p class="text-center">
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。<br>
        </p>
      </div>
    </div>

    <div class="row justify-content-evenly">
      <div class="col d-flex align-items-center justify-content-center mt-4">
        <div class="col-2 text-center">
          <%= link_to '退会しない', customer_path(@customer), class: "btn btn-primary btn-sm" %>
        </div>
        <div class="col-2 text-center">
          <%= link_to "退会する", withdraw_path(@customer), method: :patch, class: "btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>

</div>