<h1>ジャンル一覧・追加</h1>

<%= form_with model: @genre, url: admin_genres_path do |f| %>

  <div class="field">
    <%= f.label :name, "ジャンル名" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
  
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>




